<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | One Game at a Time</title>
    <link rel="stylesheet" href="css/login_and_register.css">
</head>
<body>
    <script>
        $(function () {
            $("#submitRegister, #cpass").prop("disabled", true);
        });
    </script>
    <%- include ("../partials/header_login.ejs") %>

    <div class="container mt-3" id="startup-box">
        <div class="row">
            <div class="col-sm-5" id="login-box">
                <h2 class="heading">log-in</h2>

                <!-- line break -->

                <div class="row"><div class="col-sm-12"><br></div></div>

                <form action="auth" method="post" class="parent">

                    <div class="form-group">
                        <label for="emailLogin" class="subheading">Email address:</label>
                        <input type="email" class="form-control subheading <% if (emailLoginError !== "") { %> wrong <% } %>" name="emailLogin" placeholder="Your email address" id="emailLogin" required>
                        <p id="emailLoginError" class="error subheading"><%= emailLoginError %></p>
                    </div>
                    <div class="form-group">
                        <label for="passwordLogin" class="subheading">Password:</label>
                        <input type="password" class="form-control subheading <% if (passLoginError !== "") { %> wrong <% } %>" name="passLogin" placeholder="Your password" id="passLogin" required>
                        <p id="passLoginError" class="error subheading"><%= passLoginError %></p>
                    </div>

                    <div class="row"><div class="col-sm-12"><br></div></div>

                    <div class="buttons container">
                        <button type="submit" class="btn btn-custom btn-block subheading" id="submitLogin">Log-in</button>
                        <div class="row"><div class="col-sm-12"><br></div></div>

                        <p class="subheading" style="text-align: center; margin-bottom: 0">----------- or -----------</p>
                        <div class="row"><div class="col-sm-12"><br></div></div>
                        <a href="guest" class="btn btn-custom btn-block subheading" role="button" id="guest">Continue as guest</a>
                    </div>

                </form>
            </div>
            <div class="col-sm-7" id="register-box">
                <h2 class="heading">register</h2>

                <div class="row"><div class="col-sm-12"><br></div></div>

                <form action="register" method="post" class="parent">
                    <div class="form-row">
                        <div class="col">
                            <label for="fname" class="subheading" id="fname-label">First name:</label>
                            <input type="text" class="form-control subheading <% if (fnameError !== "") { %> wrong <% } %>" placeholder="Your first name" id="fname" name="fname" required>
                            <p id="fnameError" class="error subheading"><%= fnameError %></p>
                        </div>
                        <div class="col">
                            <label for="lname" class="subheading" id="lname-label">Last name:</label>
                            <input type="text" class="form-control subheading <% if (lnameError !== "") { %> wrong <% } %>" placeholder="Your last name" id="lname" name="lname" required>
                            <p id="lnameError" class="error subheading"><%= lnameError %></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="bday" class="subheading" id="bday-label">Birthday:</label>
                            <input type="date" class="form-control subheading <% if (bdayError !== "") { %> wrong <% } %>" id="bday" name="bday" required>
                            <p id="bdayError" class="error subheading"><%= bdayError %></p>
                        </div>
                        <div class="col">
                            <label for="gender" class="subheading" id="gender-label">Gender:</label>
                            <select class="form-control subheading <% if (genderError !== "") { %> wrong <% } %>" id="gender" name="gender" required>
                                <option selected disabled>Your gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Prefer not to say</option>
                            </select>
                            <p id="genderError" class="error subheading"><%= genderError %></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailRegister" class="subheading" id="email-label">Email address:</label>
                        <input type="email" class="form-control subheading <% if (emailRegisterError !== "") { %> wrong <% } %>" placeholder="Your email address" id="emailRegister" name="emailRegister" required>
                        <p id="emailRegisterError" class="error subheading"><%= emailRegisterError %></p>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="passwordRegister" class="subheading" id="pw-label">Password:</label>
                            <input type="password" class="form-control subheading <% if (passRegisterError !== "") { %> wrong <% } %>" placeholder="Your password" id="passRegister" name="passRegister" required>
                            <p id="passRegisterError" class="error subheading"><%= passRegisterError %></p>
                        </div>
                        <div class="col">
                            <label for="cpass" class="subheading" id="cpass-label">Confirm password:</label>
                            <input type="password" class="form-control subheading <% if (cpassError !== "") { %> wrong <% } %>" placeholder="Password confirmation" id="cpass" name="cpass" required>
                            <p id="cpassError" class="error subheading"><%= cpassError %></p>
                        </div>
                    </div>

                    <div class="row"><div class="col-sm-12"><br></div></div>

                    <div class="form-row buttons container">
                        <div class="col"><input type="submit" class="btn btn-custom btn-block subheading" id="submitRegister"></div>
                        <div class="col"><input type="reset" class="btn btn-custom btn-block subheading" id="resetRegister"></div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/validator.min.js" type="text/javascript"></script>
    <script src="../../js/login_and_register.js"></script>
</body>
</html>