<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Profile</title>
    <link rel="stylesheet" href="../../css/modify_game.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="card heading mt-5 mb-5" >
        <h2 class="heading text-center mt-3"><%= game.title %></h2>
        <img class="card-img-top" src="<%= game.game_image %>" id="game_image">
        <form action = "<%= game._id %>/upload" method = "POST" enctype = "multipart/form-data">
            <div class="input-group mb-3 subheading">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary btn-custom" type="submit" id="upload">Upload</button>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" aria-describedby="upload" name="new_image">
                    <label class="custom-file-label" for="file">Choose file</label>
                </div>
            </div>
        </form>
        <p class="subheading">Game Description:<br><%= game.description %></p>
        <br>
        <div class="form-inline">
            <div class="col-4"><center>Genres:</center>
                <% if (game.genres.includes("art")) { %> <label for="art" class="subheading bg-art">Art</label> <% } %>
                <% if (game.genres.includes("business")) { %> <label for="business" class="subheading bg-business">Business</label> <% } %>
                <% if (game.genres.includes("scitech")) { %> <label for="scitech" class="subheading bg-scitech">Science and Technology</label> <% } %>
                <% if (game.genres.includes("history")) { %> <label for="history" class="subheading bg-history">History</label> <% } %>
                <% if (game.genres.includes("trivia")) { %> <label for="trivia" class="subheading bg-trivia">Trivia</label> <% } %>
                <% if (game.genres.includes("sports")) { %> <label for="sports" class="subheading bg-sports">Sports</label> <% } %>
                <% if (game.genres.includes("others")) { %> <label for="others" class="subheading bg-others">Others</label> <% } %>
            </div>
            <div class="col-4"><center>Time: <%= game.time %> minutes</center></div>
            <div class="col-4"><center># of Times Played: <%= game.num_attempts %></center></div>
        </div>
        <br>
        <div class="row"><div class="col-sm-12"><br></div></div>
        <a href="/modify_game_details/<%= game._id %>" class="btn btn-custom btn-block" id="modify">Modify Game Details</a>
        <a href="/play_game/<%= game._id%>" class="btn btn-custom btn-block mb-5" id="play">Play Game</a>
        <div class="row"><div class="col-sm-12"><br></div></div>
    </div>
    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/view_profile.js"></script>
</body>
</html>