<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Profile</title>
    <link rel="stylesheet" href="../../css/modify_game.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="grid card heading mt-5 mb-5" style="padding-top: 10px; padding-bottom: 10px; ">
        <div class="prof_title "><%= game.title %></div>
        <div class="prof_pic"><img src="<%= game.game_image %>" height="180px" width="180px"></div>
        <div class="prof_hemail"><%= game.description %></div>
        <div class="prof_hage">Genres:</div>
        <div class="prof_hgender">Time:</div>
        <div class="prof_email subheading"><%= game.num_attempts %></div>
        <form action = "<%= game._id %>/upload/new_image" method = "POST" enctype = "multipart/form-data">
            <div class="input-group mb-3 prof_file">
                <div class="input-group-prepend">
                <button class="btn btn-outline-secondary btn-custom" type="submit" id="upload">Upload</button>
                </div>
                <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" aria-describedby="upload" name = "new_image">
                <label class=" custom-file-label" for="file">Choose file</label>
                </div>
            </div>
        </form>
        <div class="row"><div class="col-sm-12"><br></div></div>
        <a href="/modify_game_details/<%= game._id %>" class="btn btn-custom btn-block mb-5" id="modify">Modify Game Details</a>
        <div class="row"><div class="col-sm-12"><br></div></div>
    </div>
    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/view_profile.js"></script>
</body>
</html>