<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Play</title>
    <link rel="stylesheet" href="../../css/play_game.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="container mt-5 mb-5" id="main-box">
        <h2 class="heading"><%= title %></h2>
        <img src="../<%= img %>" style="width: 100%; height: auto">
        <h3 class="subheading"><%= description %></h3>
        <p class="subheading">Created by: <a href="view_profile_user"><%= creator %></a></p>

        <div class="row" id="controls" style="display: flex; justify-content: center; align-items: center">
            <div class="col-sm-8" id="start-btn">
                <button class="btn btn-custom btn-block subheading">Start Game</button>
            </div>
            <div class="col-sm-4" id="pause">
                <button class="btn btn-custom btn-block subheading">Pause</button>
            </div>
            <div class="col-sm-4" id="give-up">
                <button class="btn btn-custom btn-block subheading">Give up</button>
            </div>
            <div class="col-sm-4">
                <div class="heading" id="clock-holder" style="text-align: center; font-size: 100px"><%= time %>:00</div>
            </div>
        </div>

        <table class="table table-custom subheading mt-4 mb-4" style="text-align: center" id="game">
            <thead>
                <th>Questions</th>
                <th>Answers</th>
            </thead>
            <tbody>
                <tr>
                    <td class="question-holder">#001</td>
                    <td><input type="text" size="100%" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#002</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#003</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#004</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#005</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#006</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#007</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#008</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#009</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
                <tr>
                    <td class="question-holder">#010</td>
                    <td><input type="text" class="form-control answer-holder" disabled placeholder="Your answer"></td>
                </tr>
            </tbody>
        </table>

        <a href="view_leaderboard" class="btn btn-custom btn-block" id="leaderboard">View leaderboard</a>
    </div>

    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/play_game.js"></script>
</body>
</html>