<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Play</title>
    <link rel="stylesheet" href="../../css/play_game.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="container mt-5 mb-5" id="main-box">
        <h2 class="heading"><%= game.title %></h2>
        <img src="../<%= game.game_image %>" style="width: 100%; height: auto">
        <div style="height: 20px"></div>
        <h3 class="subheading"><%= game.description %></h3>
        <p class="subheading">Created by: <a href="/profile/<%= game.creator %>"><%= creator %></a></p>

        <div class="row" id="controls" style="display: flex; justify-content: center; align-items: center">
            <button class="col-8 btn btn-custom btn-block subheading" id="start-btn">Start Game</button>
            <a data-time="<%= game.time %>" data-id="<%= game._id %>" id="record-btn" class="col btn btn-custom btn-block subheading
                <% if (guest) { %>
                    disabled"> Login / Register to Record
                <% } else { %>
                    "> Record this Run
                <% } %>
            </a>
            <button class="col btn btn-custom btn-block subheading mr-2" id="resume-btn">Resume</button>
            <button class="col btn btn-custom btn-block subheading mr-2" id="pause-btn">Pause</button>
            <button class="col btn btn-custom btn-block subheading" id="quit-btn">Give Up</button>
            <div class="col heading" id="accuracy-holder" style="text-align: center; font-size: 75px"></div>
            <div class="col">
                <div class="heading" id="clock-holder" data-time="<%= game.time %>" style="text-align: center; font-size: 75px">
                    <% if (game.time < 10) { %>
                        0<%= game.time %>:00
                    <% } else { %>
                        <%= game.time %>:00
                    <% } %>
                </div>
            </div>
        </div>

        <div class="row" id="quiz" data-score="0" data-length="<%= items.length %>">

            <div class="col-12 container" id="answer-container">
                <div class="row">
                    <div class="col-3 pb-3 pt-3 mb-4 subheading answer-wrapper">
                        <div class="answer-holder" style="color: white">Enter answer here:</div>
                    </div>
                    <div class="col-9 pb-3 pt-3 mb-4 subheading answer-wrapper">
                        <input type="text" class="form-control answer-holder" id="answer" placeholder="press start to enable" disabled>
                    </div>
                </div>
            </div>
            <div class="col-9 pb-2 pt-2 mb-2 border subheading" style="background-color: #EEB5EB; display: flex">
                <div class="question-holder">Questions</div>
            </div>
            <div class="col-3 pb-2 pt-2 mb-2 border subheading answer-wrapper" id="answer-header">
                <div class="answer-holder">Answers</div>
            </div>

            <% items.forEach(function (item, index) { %>

                <div class="col-1 pb-2 pt-2 border subheading" style="background-color: #EEB5EB; display: flex">
                    <div class="question-holder"> <%= index + 1 %> </div>
                </div>
                <div class="col-8 pb-2 pt-2 border subheading question-wrapper">
                    <div class="question-holder"> <%= item.question %> </div>
                </div>
                <div class="col-3 pb-2 pt-2 border subheading answer-wrapper" id="answer-<%=index%>" data-answer="<%=item.answer%>">
                    <div class="answer-holder"></div>
                </div>

            <% }) %>
        </div>

        <div style="height: 20px"></div>
        <a href="/leaderboard/<%= game._id %>" class="btn btn-custom btn-block" id="leaderboard">View leaderboard</a>
    </div>

    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/play_game.js"></script>
</body>
</html>