<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Leaderboard</title>
    <link rel="stylesheet" href="../../css/view_leaderboard.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="container mt-5 mb-5" id="main-box">
        <h2 class="heading"><%= game.title %></h2>
        <img src="../<%= game.game_image %>" style="width: 100%; height: auto">
        <div style="height: 20px"></div>
        <h3 class="subheading"><%= game.description %></h3>
        <p class="subheading">Created by: <a href="view_profile_user"><%= creator %></a></p>

        <% if (noLead) { %>

            <h4 class="subheading" style="text-align: center">There have been no attempts for this game yet.</h4>
            <h6 class="subheading" style="text-align: center">Try it now!</h6>

        <% } else { %>

            <h2 class="subheading" style="text-align: center">Leaderboard</h2><div style="height: 10px"></div>

            <div class="row">
                <div class="col-2 pb-2 pt-2 mb-2 subheading rank"> Rank </div>
                <div class="col-6 pb-2 pt-2 mb-2 subheading user"> User </div>
                <div class="col-2 pb-2 pt-2 mb-2 subheading accuracy"> Accuracy </div>
                <div class="col-2 pb-2 pt-2 mb-2 subheading time"> Time </div>

                <% leaderboard.forEach(function (attempt, index) { %>

                    <div class="col-2 pb-2 pt-2 subheading rank"> <%= index + 1%> </div>
                    <a class="col-6 pb-2 pt-2 subheading user" href="/view_profile/<%= attempt.user_id %>">
                        <% users.forEach(function (user) { %>
                            <% if (user._id.equals(attempt.user_id)) { %>
                                <%= user.name %>
                            <% } %>
                        <% }) %>
                    </a>
                    <div class="col-2 pb-2 pt-2 subheading accuracy"> <%= attempt.answered / total * 100%>% </div>
                    <div class="col-2 pb-2 pt-2 subheading time"> <%= attempt.attempt_time %> min </div>

                <% }) %>
            </div>

        <% } %>
        <div style="height: 20px"></div>
        <a href="/play_game/<%= game._id %>"class="btn btn-custom btn-block">Back to Game</a>

    </div>

    <%- include ("../partials/footer.ejs") %>

</body>
</html>