<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Profile</title>
    <link rel="stylesheet" href="../../css/view_profile.css">
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="grid card heading mt-5 mb-5" style="padding-top: 10px; padding-bottom: 10px; ">
        <div class="prof_title ">My Profile</div>
        <div class="prof_pic"><img src="<%= details.user.user_image %>" height="180px" width="180px"></div>
        <div class="prof_hemail">Email:</div>
        <div class="prof_hage">Birthday:</div>
        <div class="prof_hgender">Gender:</div>
        <div class="prof_email subheading"><%= details.user.email %></div>
        <div class="prof_age subheading">
            <%var age = 2020 -  details.user.birthday.getYear()%>
            <%= details.user.birthday%></div>
        <div class="prof_gender subheading"><%= details.user.gender %></div>
        <div class="prof_text1 ">Total Games Created</div>
        <div class="prof_text2 ">Total Games Completed</div>
        <div class="prof_subtext1 subheading">
            
            <%var created=0%> 
            <% details.games.forEach(function (game) { %>
                <% if (game.creator.equals(details.user._id)){%>
                    <%created= created +1 %>
                <%}%>
            <% }) %>
            <%= created %></div>
        <div class="prof_subtext2 subheading">
            <%var completed = 0%>
            <% details.games.forEach(function (game) { %>
                <% details.attempts.forEach(function (attempt) { %>
                    <% if (attempt.user_id.equals(details.user._id)){%> 
                        <% if (game._id.equals(attempt.game_id)){%>
                            <% var count = 0 %>
                            <% details.items.forEach(function (item) { %>
                                <% if (item.game_id.equals(game._id)){%>
                                    <%count = count+1 %>
                                <%}%>
                            <% }) %>
                            <% if (attempt.answered == count){%>
                                <%completed = completed +1%>
                            <%}%>
                        <%}%>
                    <%}%>
                <% }) %>
            <% }) %>
            <%= completed%>
        </div>
        <div class="prof_name"><%= details.user.name %></div>
        <form action="view_profile/upload/pic" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3 prof_file">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary btn-custom" type="submit" id="upload">Upload</button>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" aria-describedby="upload" name = "pic">
                    <label class=" custom-file-label" for="file">Choose file</label>
                </div>
            </div>
        </form>
    </div>
    <%var playing = 0%>
    <% details.games.forEach(function (game) { %>
        <% details.attempts.forEach(function (attempt) { %>
            <% if (attempt.user_id.equals(details.user._id)){%> 
                <% if (game._id.equals(attempt.game_id)){%>
                    <% var count = 0 %>
                    <% details.items.forEach(function (item) { %>
                        <% if (item.game_id.equals(game._id)){%>
                            <%count = count+1 %>
                        <%}%>
                    <% }) %>
                    <% if (attempt.answered != count){%>
                        <%playing = playing +1%>
                    <%}%>
                <%}%>
            <%}%>
        <% }) %>
    <% }) %>
    <div class="container mt-5 mb-5" id="2-main-box">
        <button type="button" class="btn btn-custom btn-block" id="admin"  onclick="window.location.href = '/view_profile/remove/admin/access';">Drop Admin Status</button>
        <a href="/create_game" class="btn btn-custom btn-block mb-5" id="create">Create Game</a>
        <%if (playing >0){%>
            <h2 class="heading" style="text-align: center">Recently Played</h2>
            <div class="row">
                <%var see3 = 0 %>
                <% details.games.forEach(function (game) { %>
                    <% details.attempts.forEach(function (attempt) { %>
                        <% if (attempt.user_id.equals(details.user._id)){%> 
                        <% if (game._id.equals(attempt.game_id)){%>
                            <% var count = 0 %>
                            <% details.items.forEach(function (item) { %>
                                <% if (item.game_id.equals( game._id)){%>
                                    <%count = count+1 %>
                                <%}%>
                            <% }) %>
                            <% if (attempt.answered != count){%>
                                <%see3 = see3+1 %>
                                <div class="col-sm-4 mb-4 <%if (see3 >= 4){%> recently-played <%}%>">
                                    <div class="card
                                        <% for (let i = 0; i < game.genres.length; i++ ) { %>
                                        <%= 'card-' + game.genres[i] %>
                                        <% } %>" >

                                        <div class="card-header pt-2 pb-1">
                                            <div class="container row m-0" style="height:15px;">
                                                <% var len = game.genres.length %>
                                                <% for (i = 0; i < len; i++ ) { %>
                                                    <div class="col border <%= 'bg-' + game.genres[i] %>
                                                        <% if (i < len - 1) { %>
                                                        <%= 'mr-1' %>
                                                        <% } %>">
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>

                                        <img class="card-img-top card-img-custom" src="<%= game.game_image %>">

                                        <div class="card-body ">
                                            <div class="grid-small card-title heading">
                                                <div class="accuracy">
                                                    <%var acc = attempt.answered / count *100 %>
                                                    <%= acc.toFixed(2)%>%
                                                </div>
                                                <div class="time">
                                                    <%= attempt.attempt_time%> mins
                                                </div>
                                            </div>
                                            <h5 class="card-title heading"><%= game.title %></h5>
                                            <p class="card-text subheading" style="display: none"><%= game.description %></p>
                                            <div class="mt-auto">
                                                <button type="button" class="btn btn-custom btn-block" data-toggle="modal" data-target="#playModal">Play Game</button>
                                                <a href="/modify_game/<%= game._id %>" class="btn btn-custom btn-block">Modify Game</a>
                                                <button type="button" class="btn btn-custom2 btn-block" data-toggle="modal" data-target="#deleteModal">Delete Game</button>
                                            </div>
                                        </div>
                
                                        <div class="card-footer">
                                            <p id="game_id" style="display: none"><%= game._id %></p>
                                            <small id="author" class="text-muted subheading">Created by <a href="/view_profile/<%= game.creator %>">
                                                <% details.users.forEach(function (user) { %>
                                                    <%if (game.creator.equals(user._id)){%>
                                                        <%=user.name%>
                                                    <%}%>    
                                                <% }) %>    
                                            </a></small>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                        <%}%>
                    <% }) %>
                <% }) %>
            </div>
            <%if (see3 >= 4){%> <button type="button" class="btn btn-custom btn-block subheading" id="button3">Show More</button> <%}%>
        <%}%>
    </div>
    <%if (created >0){%>
    <div class="container mt-5 mb-5" id="1-main-box">
        <h2 class="heading" style="text-align: center"><%= details.user.name %>'s Games</h2>
        <div class="row">
            <%var see = 0 %>
            <% details.games.forEach(function (game) { %>
                <% if (game.creator.equals(details.user._id)){%>
                    <%see = see+1 %>
                    <div class="col-sm-4 mb-4 <%if (see >= 4){%> game-created <%}%>">
                        <div class="card
                            <% for (let i = 0; i < game.genres.length; i++ ) { %>
                            <%= 'card-' + game.genres[i] %>
                            <% } %>" >

                            <div class="card-header pt-2 pb-1">
                                <div class="container row m-0" style="height:15px;">
                                    <% var len = game.genres.length %>
                                    <% for (i = 0; i < len; i++ ) { %>
                                        <div class="col border <%= 'bg-' + game.genres[i] %>
                                            <% if (i < len - 1) { %>
                                            <%= 'mr-1' %>
                                            <% } %>">
                                        </div>
                                    <% } %>
                                </div>
                            </div>

                            <img class="card-img-top card-img-custom" src="<%= game.game_image %>">

                            <div class="card-body">
                                <%var att = null%>
                                <% details.attempts.forEach(function (attempt) { %>
                                    <% if (attempt.game_id.equals(game._id) && attempt.user_id.equals(details.user._id)){%>
                                        <%att = attempt%>
                                    <%}%>
                                <% }) %>
                                <% var count = 0 %>
                                <% details.items.forEach(function (item) { %>
                                    <% if (item.game_id.equals(game._id)){%>
                                        <%count = count+1 %>
                                    <%}%>
                                <% }) %>
                                <div class="grid-small card-title heading">
                                    <div class="accuracy">
                                        <%if (att == null){%>
                                            ---%
                                        <%}%>
                                        <%if (att != null){%>
                                            <%var acc = att.answered / count *100 %>
                                            <%= acc%>%
                                        <%}%>
                                    
                                    </div>
                                    <div class="time">
                                        <%if (att == null){%>
                                            -- mins
                                        <%}%>
                                        <%if (att != null){%>
                                            <%= att.attempt_time %> mins
                                        <%}%>
                                    </div>
                                </div>
                                <h5 class="card-title heading"><%= game.title %></h5>
                                <p class="card-text subheading" style="display: none"><%= game.description %></p>
                                <div class="mt-auto">
                                    <button type="button" class="btn btn-custom btn-block" data-toggle="modal" data-target="#playModal">Play Game</button>
                                    <a href="/modify_game/<%= game._id %>" class="btn btn-custom btn-block">Modify Game</a>
                                    <button type="button" class="btn btn-custom2 btn-block" data-toggle="modal" data-target="#deleteModal">Delete Game</button>
                                </div>
                            </div>
    
                            <div class="card-footer">
                                <p id="game_id" style="display: none"><%= game._id %></p>
                                <small id="author" class="text-muted subheading">Created by <a href="/view_profile/<%= game.creator %>">
                                    <% details.users.forEach(function (user) { %>
                                        <%if (game.creator.equals(user._id)){%>
                                            <%=user.name%>
                                        <%}%>    
                                    <% }) %>    
                                </a></small>
                            </div>
                        </div>
                    </div>
                <%}%>
            <% }) %>
                
        </div>
        <%if (see >= 4){%> <button type="button" class="btn btn-custom btn-block subheading" id="button">Show More</button> <%}%>
    </div>
    <%}%>


    <%if (completed >0){%>
    <div class="container mt-5 mb-5" id="2-main-box">
        <h2 class="heading" style="text-align: center">Games Completed</h2>
        <div class="row">
            <%var see2 = 0 %>
            <% details.games.forEach(function (game) { %>
                <% details.attempts.forEach(function (attempt) { %>
                    <% if (attempt.user_id.equals(details.user._id)){%> 
                    <% if (game._id.equals(attempt.game_id)){%>
                        <% var count = 0 %>
                        <% details.items.forEach(function (item) { %>
                            <% if (item.game_id.equals( game._id)){%>
                                <%count = count+1 %>
                            <%}%>
                        <% }) %>
                        <% if (attempt.answered == count){%>
                            <%see2 = see2+1 %>
                            <div class="col-sm-4 mb-4 <%if (see2 >= 4){%> game-completed <%}%>">
                                <div class="card
                                    <% for (let i = 0; i < game.genres.length; i++ ) { %>
                                    <%= 'card-' + game.genres[i] %>
                                    <% } %>" >

                                    <div class="card-header pt-2 pb-1">
                                        <div class="container row m-0" style="height:15px;">
                                            <% var len = game.genres.length %>
                                            <% for (i = 0; i < len; i++ ) { %>
                                                <div class="col border <%= 'bg-' + game.genres[i] %>
                                                    <% if (i < len - 1) { %>
                                                    <%= 'mr-1' %>
                                                    <% } %>">
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>

                                    <img class="card-img-top card-img-custom" src="<%= game.game_image %>">

                                    <div class="card-body ">
                                        <div class="grid-small card-title heading">
                                            <div class="accuracy">
                                                <%var acc = attempt.answered / count *100 %>
                                                <%= acc.toFixed(2)%>%
                                            </div>
                                            <div class="time">
                                                <%= attempt.attempt_time%> mins
                                            </div>
                                        </div>
                                        <h5 class="card-title heading"><%= game.title %></h5>
                                        <p class="card-text subheading" style="display: none"><%= game.description %></p>
                                        <div class="mt-auto">
                                            <button type="button" class="btn btn-custom btn-block" data-toggle="modal" data-target="#playModal">Play Game</button>
                                            <a href="/modify_game/<%= game._id %>" class="btn btn-custom btn-block">Modify Game</a>
                                            <button type="button" class="btn btn-custom2 btn-block" data-toggle="modal" data-target="#deleteModal">Delete Game</button>
                                        </div>
                                    </div>
            
                                    <div class="card-footer">
                                        <p id="game_id" style="display: none"><%= game._id %></p>
                                        <small id="author" class="text-muted subheading">Created by <a href="/view_profile/<%= game.creator %>">
                                            <% details.users.forEach(function (user) { %>
                                                <%if (game.creator.equals(user._id)){%>
                                                    <%=user.name%>
                                                <%}%>    
                                            <% }) %>    
                                        </a></small>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    <%}%>
                    <%}%>
                <% }) %>
            <% }) %>
        </div>
        <%if (see2 >= 4){%> <button type="button" class="btn btn-custom btn-block subheading" id="button2">Show More</button> <%}%>
    </div>
    <%}%>
    <%- include ("../partials/modal.ejs") %>
    <%- include ("../partials/delete_modal_profile.ejs") %>
    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/view_profile.js"></script>
</body>
</html>