<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>

    <title>Mnemosis | Profile</title>
    <link rel="stylesheet" href="../../css/view_profile.css">
</head>
<body>
    <script>
        $(function () {
           $("[data-toggle='tooltip']").tooltip();
        });
    </script>
    <%- include ("../partials/header.ejs") %>
    <div class="grid card heading mt-5 mb-5" style="padding-top: 10px; padding-bottom: 10px; ">
        <div class="prof_title ">My Profile</div>
        <div class="prof_pic"><img src="
            <% if (details.user.user_image !== undefined) { %>
                <%= details.user.user_image %>
            <% } else { %>
                /media/Icon.png
            <% } %>
        " height="180px" width="180px"></div>
        <div class="prof_hemail">Email:</div>
        <div class="prof_hage">Birthday:</div>
        <div class="prof_hgender">Gender:</div>
        <div class="prof_email subheading"><%= details.user.email %></div>
        <div class="prof_age subheading">
            <%var age = 2020 -  details.user.birthday.getYear()%>
            <%= details.user.birthday%></div>
        <div class="prof_gender subheading"><%= details.user.gender %></div>
        <div class="prof_text1 ">Total Games Created</div>
        <div class="prof_text2 ">Total Games Completed</div>
        <div class="prof_subtext1 subheading">
            <%//created is an integer that stores how many games the user created%>
            <%var created=0%> 
            <% details.games.forEach(function (game) { %>
                <% if (game.creator.equals(details.user._id)){%>
                    <%created= created +1 %>
                <%}%>
            <% }) %>
            <%= created %></div>
        <div class="prof_subtext2 subheading">
            <%//completed is an integer that stores how many games the user has completed. comp on the other hand is an array that contains the perfect attemts of the user with the lest amount of time%>
            <%var completed = 0%>
            <% var comp = []%>
            <% details.games.forEach(function (game) { %>
                <% details.attempts.forEach(function (attempt) { %>
                    <% if (attempt.user_id.equals(details.user._id)){%> 
                        <% if (game._id.equals(attempt.game_id)){%>
                            <% var count = 0 %>
                            <% details.items.forEach(function (item) { %>
                                <% if (item.game_id.equals(game._id)){%>
                                    <%count = count+1 %>
                                <%}%>
                            <% }) %>
                            <% if (attempt.answered == count){%>
                                <%if (completed > 0 ){%>
                                    <%var count2 = 0 %>
                                    <%for (var x = 0; x < completed; x++ ){%>
                                        <%if (attempt.game_id.equals(comp[x].game_id)){%>
                                            <%if (attempt.attempt_time < comp[x].attempt_time){%>
                                                <%comp[x] = attempt%>
                                            <%}%>
                                            <%count2 = count2 + 1 %>
                                        <%}%>
                                    <%}%>
                                    <%if (count2 == 0){%>
                                        <%completed = completed +1%>
                                        <%comp.push(attempt)%>
                                    <%}%>
                                <%}%>
                                <%if (completed == 0){%>
                                    <%comp.push(attempt)%>
                                    <%completed = completed +1%>
                                <%}%>
                            
                            <%}%>
                        <%}%>
                    <%}%>
                <% }) %>
            <% }) %>
            <%= completed%>
        </div>
        <div class="prof_name"><%= details.user.name %></div>
        <form action="profile/upload/pic" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3 prof_file subheading">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary btn-custom" type="submit" id="upload" disabled>Upload</button>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" aria-describedby="upload" name = "pic" accept="image/x-png, image/jpeg, image/jpg">
                    <label class=" custom-file-label" for="file" id="file-label">Choose file</label>
                </div>
            </div>
        </form>
    </div>
    <%//playing is an integer that stores how many games the user has attemoted but not completed. attempts on the other hand is an array that contains the best attempts of the user on a game that has not been completed yet%>
    <%var playing = 0%>
    <% var attempts = []%>
    <% details.games.forEach(function (game) { %>
        <% details.attempts.forEach(function (attempt) { %>
            <% if (attempt.user_id.equals(details.user._id)){%> 
                <% if (game._id.equals(attempt.game_id)){%>
                    <% var count = 0 %>
                    <% details.items.forEach(function (item) { %>
                        <% if (item.game_id.equals(game._id)){%>
                            <%count = count+1 %>
                        <%}%>
                    <% }) %>
                    <% if (attempt.answered != count){%>
                        <%var count3 = 0%>
                        <%for (var i =0 ; i< completed; i++){%>
                            <%if (comp[i].game_id.equals(attempt.game_id)){%>
                                <%count3 = count3+1%>
                            <%}%>
                        <%}%>
                        <%if (count3 == 0){%>
                            <%if (playing > 0){%>
                                <%var count2 = 0 %>
                                <%for (var x = 0; x < playing; x++ ){%>
                                    <%if (attempt.game_id.equals(attempts[x].game_id)){%>
                                        <%if (attempt.answered> attempts[x].answered){%>
                                            <%attempts[x] = attempt%>
                                        <%}%>
                                        <%count2 = count2 + 1 %>
                                    <%}%>
                                <%}%>
                                <%if (count2 == 0){%>
                                    <%playing = playing +1%>
                                    <%attempts.push(attempt)%>
                                <%}%>
                            <%}%>
                            <%if (playing == 0){%>
                                <%attempts.push(attempt)%>
                                <%playing = playing +1%>
                            <%}%>
                        <%}%>
                    <%}%>
                <%}%>
            <%}%>
        <% }) %>
    <% }) %>

    <div class="container mt-5 mb-5" id="2-main-box">
        <button type="button" class="btn btn-custom btn-block" id="admin"
        <% if (adminCount === 1) { %>
            data-toggle="tooltip" title="You are currently the only admin. Grant another user admin status to drop yours.">
        <% } else { %>
            data-toggle="modal" data-target="#dropModal">
        <% } %>
            Drop Admin Status
        </button>
        <a href="/create_game" class="btn btn-custom btn-block mb-5" id="create">Create Game</a>
        <%if (playing >0){%>
            <h2 class="heading" style="text-align: center">Recently Played</h2>
            <div class="row">
                <%var see3 = 0 %>
                <% details.games.forEach(function (game) { %>
                    <% for (var j = 0; j < playing;  j++) { %>
                        <% if (game._id.equals(attempts[j].game_id)){%>
                            <%see3 = see3+1 %>
                            <div class="col-sm-4 mb-4 <%if (see3 >= 4){%> recently-played <%}%>">
                                <div class="card
                                    <% for (let i = 0; i < game.genres.length; i++ ) { %>
                                    <%= 'card-' + game.genres[i] %>
                                    <% } %>" >

                                    <div class="card-header pt-2 pb-1">
                                        <div class="container row m-0" style="height:15px;">
                                            <% var len = game.genres.length %>
                                            <% for (i = 0; i < len; i++ ) { %>
                                                <div class="col border <%= 'bg-' + game.genres[i] %>
                                                    <% if (i < len - 1) { %>
                                                    <%= 'mr-1' %>
                                                    <% } %>">
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>

                                    <img class="card-img-top card-img-custom" src="<%= game.game_image %>">

                                    <div class="card-body ">
                                        <div class="grid-small card-title heading">
                                            <div class="accuracy">
                                                <% var count = 0 %>
                                                <% details.items.forEach(function (item) { %>
                                                    <% if (item.game_id.equals( game._id)){%>
                                                        <%count = count+1 %>
                                                    <%}%>
                                                <% }) %>
                                                <%var acc = attempts[j].answered / count *100 %>
                                                <%= acc.toFixed(2)%>%
                                            </div>
                                            <div class="time">
                                                <%= Math.floor(attempts[j].attempt_time)  %> mins <%= Math.round(attempts[j].attempt_time*60)% 60 %> sec 
                                            </div>
                                        </div>
                                        <h5 class="card-title heading"><%= game.title %></h5>
                                        <p class="card-text subheading" style="display: none"><%= game.description %></p>
                                        <div class="mt-auto">
                                            <button type="button" class="btn btn-custom btn-block" data-toggle="modal" data-target="#playModal">Play Game</button>
                                            <a href="/modify_game/<%= game._id %>" class="btn btn-custom btn-block">Modify Game</a>
                                            <button type="button" class="btn btn-custom2 btn-block" data-toggle="modal" data-target="#deleteModal">Delete Game</button>
                                        </div>
                                    </div>
            
                                    <div class="card-footer">
                                        <p id="game_id" style="display: none"><%= game._id %></p>
                                        <small id="author" class="text-muted subheading">Created by <a href="/profile/<%= game.creator %>">
                                            <% details.users.forEach(function (user) { %>
                                                <%if (game.creator.equals(user._id)){%>
                                                    <%=user.name%>
                                                <%}%>    
                                            <% }) %>    
                                        </a></small>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    <%}%>
                <% }) %>
            </div>
            <%if (see3 >= 4){%> <button type="button" class="btn btn-custom btn-block subheading" id="button3">Show More</button> <%}%>
        <%}%>
    </div>
    <%if (created >0){%>
    <div class="container mt-5 mb-5" id="1-main-box">
        <h2 class="heading" style="text-align: center">My Games</h2>
        <div class="row">
            <%var see = 0 %>
            <% details.games.forEach(function (game) { %>
                <% if (game.creator.equals(details.user._id)){%>
                    <%see = see+1 %>
                    <div class="col-sm-4 mb-4 <%if (see >= 4){%> game-created <%}%>">
                        <div class="card
                            <% for (let i = 0; i < game.genres.length; i++ ) { %>
                            <%= 'card-' + game.genres[i] %>
                            <% } %>" >

                            <div class="card-header pt-2 pb-1">
                                <div class="container row m-0" style="height:15px;">
                                    <% var len = game.genres.length %>
                                    <% for (i = 0; i < len; i++ ) { %>
                                        <div class="col border <%= 'bg-' + game.genres[i] %>
                                            <% if (i < len - 1) { %>
                                            <%= 'mr-1' %>
                                            <% } %>">
                                        </div>
                                    <% } %>
                                </div>
                            </div>

                            <img class="card-img-top card-img-custom" src="<%= game.game_image %>">

                            <div class="card-body">
                                <%var att = null%>
                                <% details.attempts.forEach(function (attempt) { %>
                                    <% if (attempt.game_id.equals(game._id) && attempt.user_id.equals(details.user._id)){%>
                                        <%if (att == null){%>
                                            <%att = attempt%>
                                        <%}%>
                                        <%if (att != null){%>
                                            <%if (att.answered < attempt.answered){%>
                                                <%att = attempt%>
                                            <%}%>
                                            <%if (att.answered == attempt.answered){%>
                                                <%if (att.attempt_time > attempt.attempt_time){%>
                                                    <%att = attempt%>
                                                <%}%>
                                            <%}%>
                                        <%}%>
                                    <%}%>
                                <% }) %>
                                <% var count = 0 %>
                                <% details.items.forEach(function (item) { %>
                                    <% if (item.game_id.equals(game._id)){%>
                                        <%count = count+1 %>
                                    <%}%>
                                <% }) %>
                                <div class="grid-small card-title heading">
                                    <div class="accuracy">
                                        <%if (att == null){%>
                                            ---%
                                        <%}%>
                                        <%if (att != null){%>
                                            <%var acc = att.answered / count *100 %>
                                            <%= acc.toFixed(2)%>%
                                        <%}%>
                                    
                                    </div>
                                    <div class="time">
                                        <%if (att == null){%>
                                            -- mins
                                        <%}%>
                                        <%if (att != null){%>
                                            <%= Math.floor(att.attempt_time)  %> mins <%= Math.round(att.attempt_time * 60)%60 %> sec
                                        <%}%>
                                    </div>
                                </div>
                                <h5 class="card-title heading"><%= game.title %></h5>
                                <p class="card-text subheading" style="display: none"><%= game.description %></p>
                                <div class="mt-auto">
                                    <button type="button" class="btn btn-custom btn-block" data-toggle="modal" data-target="#playModal">Play Game</button>
                                    <a href="/modify_game/<%= game._id %>" class="btn btn-custom btn-block">Modify Game</a>
                                    <button type="button" class="btn btn-custom2 btn-block" data-toggle="modal" data-target="#deleteModal">Delete Game</button>
                                </div>
                            </div>
    
                            <div class="card-footer">
                                <p id="game_id" style="display: none"><%= game._id %></p>
                                <small id="author" class="text-muted subheading">Created by <a href="/profile/<%= game.creator %>">
                                    <% details.users.forEach(function (user) { %>
                                        <%if (game.creator.equals(user._id)){%>
                                            <%=user.name%>
                                        <%}%>    
                                    <% }) %>    
                                </a></small>
                            </div>
                        </div>
                    </div>
                <%}%>
            <% }) %>
                
        </div>
        <%if (see >= 4){%> <button type="button" class="btn btn-custom btn-block subheading" id="button">Show More</button> <%}%>
    </div>
    <%}%>


    <%if (completed >0){%>
    <div class="container mt-5 mb-5" id="2-main-box">
        <h2 class="heading" style="text-align: center">Games Completed</h2>
        <div class="row">
            <%var see2 = 0 %>
            <% details.games.forEach(function (game) { %>
                <% for (var j = 0; j < completed;  j++) { %>
                    <% if (game._id.equals(comp[j].game_id)){%>
                            <%see2 = see2+1 %>
                            <div class="col-sm-4 mb-4 <%if (see2 >= 4){%> game-completed <%}%>">
                                <div class="card
                                    <% for (let i = 0; i < game.genres.length; i++ ) { %>
                                    <%= 'card-' + game.genres[i] %>
                                    <% } %>" >

                                    <div class="card-header pt-2 pb-1">
                                        <div class="container row m-0" style="height:15px;">
                                            <% var len = game.genres.length %>
                                            <% for (i = 0; i < len; i++ ) { %>
                                                <div class="col border <%= 'bg-' + game.genres[i] %>
                                                    <% if (i < len - 1) { %>
                                                    <%= 'mr-1' %>
                                                    <% } %>">
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>

                                    <img class="card-img-top card-img-custom" src="<%= game.game_image %>">
                                    <% var count = 0 %>
                                    <% details.items.forEach(function (item) { %>
                                        <% if (item.game_id.equals(game._id)){%>
                                            <%count = count+1 %>
                                        <%}%>
                                    <% }) %>
                                    <div class="card-body ">
                                        <div class="grid-small card-title heading">
                                            <div class="accuracy">
                                                <%var acc = comp[j].answered / count *100 %>
                                                <%= acc.toFixed(2)%>%
                                            </div>
                                            <div class="time">
                                                <%= Math.floor(comp[j].attempt_time)  %> mins <%= Math.round(comp[j].attempt_time*60)% 60 %> sec 
                                            </div>
                                        </div>
                                        <h5 class="card-title heading"><%= game.title %></h5>
                                        <p class="card-text subheading" style="display: none"><%= game.description %></p>
                                        <div class="mt-auto">
                                            <button type="button" class="btn btn-custom btn-block" data-toggle="modal" data-target="#playModal">Play Game</button>
                                            <a href="/modify_game/<%= game._id %>" class="btn btn-custom btn-block">Modify Game</a>
                                            <button type="button" class="btn btn-custom2 btn-block" data-toggle="modal" data-target="#deleteModal">Delete Game</button>
                                        </div>
                                    </div>
            
                                    <div class="card-footer">
                                        <p id="game_id" style="display: none"><%= game._id %></p>
                                        <small id="author" class="text-muted subheading">Created by <a href="/profile/<%= game.creator %>">
                                            <% details.users.forEach(function (user) { %>
                                                <%if (game.creator.equals(user._id)){%>
                                                    <%=user.name%>
                                                <%}%>    
                                            <% }) %>    
                                        </a></small>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                <% } %>
            <% }) %>
        </div>
        <%if (see2 >= 4){%> <button type="button" class="btn btn-custom btn-block subheading" id="button2">Show More</button> <%}%>
    </div>
    <%}%>
    <%- include ("../partials/play_modal.ejs") %>
    <%- include ("../partials/delete_modal.ejs") %>
    <%- include ("../partials/drop_admin_modal.ejs") %>
    <%- include ("../partials/footer.ejs") %>

    <script src="../../js/view_profile.js"></script>
</body>
</html>